body
{
    background-color: #667;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

.nopadding
{
    padding:0px;
    margin:0px;
}
/* ------------------------------------------------ */

/* ----------- stylized ----------- */
.section
{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border: solid 5px #e3e5fb;/*#dbd4fb;*//*#b7ddf2;*/
    background: #fbfdfe;/*#f8fcfe;*//*#ebf4fb;*/
}
.section h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
.section p{
    font-size:11px;
    color:#666666;
    margin-bottom:10px;
    border-bottom:solid 1px #dbd4fb;/*#b7ddf2;*/
    padding-bottom:5px;
}

.section label{
    display:block;
    font-weight:bold;
    float:left;
    font-size:11px;
    
}
.section input{
    float:left;
    font-size:12px;
    border:solid 1px #aacfe4;
    width:200px;

}
/*
.section .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

.section button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

*/

.section .details
{
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.section .details td 
{
  padding: 5px;   
  /*border: solid 1px #e8eef4;
  border-top: 0px;*/
  border-top: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-left: 0px solid #ff0000;
  border-bottom:1px solid #e8eef4;
  width:80%;
}

.section .details th
{
  padding: 5px;   
  border-top: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-left: 0px solid #ff0000;
  text-align: left;
  background-color:inherit;

}
/* ------------------------------------------------ */


/* Main MENU */
#menu_container
{
    
}
#menu_container ul
{
    padding-left: 0;
    margin-left: 0;
    background-color: #036;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    margin:0px;
}

#menu_container ul li { display: inline; }

#menu_container ul li a
{
    padding: 0.5em 1.2em;
    background-color: #036;
    color: #cecece;
    text-decoration: none;
    float: left;
    border-right: 0px solid #fff;
}

#menu_container ul li a:hover
{
    background-color: #369;
    color: #fff;
}

#menu_container ul li.current  a
{
    background-color: #369;
    color: #fff;
}



/* SUB MENU */

#submenu_container ul
{
    padding-left: 0;
    margin-left: 0;
    background-color: #369;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
}

#submenu_container ul li { display: inline; }

#submenu_container ul li a
{
    padding: 0.2em 0.6em;
    background-color: #369;
    color: #cecece;
    text-decoration: none;
    float: left;
    border-right: 0px solid #fff;
    margin:4px;
}

#submenu_container ul li a:hover
{
    background-color: #025;
    color: #fff;
}

#submenu_container ul li.current  a
{
    background-color: #048;;
    color: #fff;
}


/* LEFT MENU */
#left_menu
{
    padding: 0px;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height:auto;
    border:0px solid #f00;
    
}

#left_list li
{
    list-style: none;
    margin: 0;
    border-top: none;
    text-align: left;
}

#left_list li a
{
    display: block;
    padding: 0.25em 0.5em 0.25em 0.75em;
    text-decoration: none;
}

#left_list li a:link { color: #448; }
#left_list li a:visited { color: #667; }

#left_list li a:hover
{
    background: #dbd4fb;
}

#left_list li.current a 
{
    background: #e3e5fb;
}

/*
.action_buttons span
{
   padding:0px;
   margin:0px;
}

.action_buttons a span
{
   padding:0px;
   margin:0px;
   border: 1px solid #f00;

}
*/
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

#header 
{
    color: #fff;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    height: 30px;
    font-size : 16px;
    font-weight: bold;
    
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
/*
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}
*/
/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e6e4fe; /* #e8eef4; */
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e6e4fe; /* #e8eef4; */
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #eff4fb; /* #e8eef4; */
  border: solid 1px #e6e4fe; /* #e8eef4; */
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
